

body {
    background: #f0f0f0;
}

.scrollhost {
    scrollbar-width: none;
   -ms-overflow-style: none;
 }
 
 .scrollhost::-webkit-scrollbar {
   display: none;
 }

 .tree {
  height: 99vh;
  overflow-y: scroll;
 }

